p{
    font-size: 50px;
    margin-left: 35%;
    margin-top: 15%;
}

a{
    margin-left: 43%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-decoration: none;
    border-radius: 9px;
}
